div.labels-layout > header.labelsHeader {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  > div.title {
    width: 40%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

div.labels-layout > main.labelsMain {
  > p {
    font-size: 26px;
    margin: 8px 0 8px 8px;
  }
  > ul li {
    display: flex;
    justify-content: space-between;
    > div.optionIcon > svg {
      width: 50px;
      height: 50px;
    }
    > div {
      display: flex;
      > span {
        margin-left: 8px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
