.my-layout {
  min-height: 100vh;
  background: pink;
  flex-direction: column;
  display: flex;
  main {
    flex-grow: 1;
  }
  footer {
    background: #fff;
    line-height: 24px;
    > ul {
      display: flex;
      > li {
        width: 33.3333%;
        border: 1px solid grey;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3px 0;
        > span {
          margin-top: 3px;
        }
        > * {
          pointer-events: none; // 阻止点击事件传播
        }
      }
    }
  }
}
