main.moneyMain > ul.category {
  display: flex;
  justify-content: center;
  align-items: center;
  > li {
    border: 1px solid black;
    text-align: center;
    line-height: 2.5em;
    width: 25%;
    margin: 8px 0px 0px 0px;
    &:first-child {
      border-radius: 20px 0 0 20px;
      border-right: none;
    }
    &:last-child {
      border-radius: 0 20px 20px 0;
    }
  }
}
