footer.moneyFooter > div.note {
  $writeNoteWidth: 50%;
  border: 1px solid black;
  margin: 8px 12px;
  display: flex;
  border-radius: 10px;
  > input {
    border: none;
    background: inherit;
  }
  > input.writeNote {
    width: $writeNoteWidth;
  }
  > div.amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: calc(100% - $writeNoteWidth);
  }
}
