main.moneyMain > ul.category {
  display: flex;
  justify-content: center;
  align-items: center;
  > a {
    border: 1px solid black;
    text-align: center;
    line-height: 2.5em;
    width: 25%;
    margin: 8px 0px 0px 0px;
    &:first-child {
      border-radius: 20px 0 0 20px;
      border-right: none;
    }
    &:last-child {
      border-radius: 0 20px 20px 0;
    }
    &.active {
      background: white;
    }
  }
}

main.moneyMain > ul.tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 42vh;
  max-height: 42vh;
  > li {
    width: 25%;
    min-height: 85px;
    margin: 8px 0;
  }
}

main.moneyMain > ul.tags {
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
